/* src/components/ReactFlowWrapper/ReactFlowWrapper.css */

.wrapper {
  height: 50vh;
  width: 100%;
  max-width: 1000px;
  margin: 15px auto;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  background-color: var(--primary-color);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  position: relative;
}

/* Responsive Adjustments */
@media (max-width: 1200px) {
  .wrapper {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .wrapper {
    height: 40vh;
  }
}
